openapi: 3.0.1
info:
  title: slash
  version: 1.0.0
servers:
  - url: https://slash.vpc.run
    variables: {}
tags:
  - name: ShortcutService
paths:
  /api/v1/shortcuts:
    get:
      tags:
        - ShortcutService
      summary: ListShortcuts returns a list of shortcuts.
      operationId: ShortcutService_ListShortcuts
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1ListShortcutsResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
    post:
      tags:
        - ShortcutService
      summary: CreateShortcut creates a shortcut.
      operationId: ShortcutService_CreateShortcut
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apiv1Shortcut"
        required: true
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1CreateShortcutResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
      x-codegen-request-body-name: shortcut
  /api/v1/shortcuts/{id}:
    get:
      tags:
        - ShortcutService
      summary: GetShortcut returns a shortcut by id.
      operationId: ShortcutService_GetShortcut
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1GetShortcutResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"
    delete:
      tags:
        - ShortcutService
      summary: DeleteShortcut deletes a shortcut by name.
      operationId: ShortcutService_DeleteShortcut
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1DeleteShortcutResponse"
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/rpcStatus"

      x-codegen-request-body-name: shortcut

components:
  schemas:
    apiv1OpenGraphMetadata:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        image:
          type: string
    apiv1RowStatus:
      type: string
      default: ROW_STATUS_UNSPECIFIED
      enum:
        - ROW_STATUS_UNSPECIFIED
        - NORMAL
        - ARCHIVED
    apiv1Shortcut:
      type: object
      properties:
        id:
          type: integer
          format: int32
        creatorId:
          type: integer
          format: int32
        createdTime:
          type: string
          format: date-time
        updatedTime:
          type: string
          format: date-time
        rowStatus:
          $ref: "#/components/schemas/apiv1RowStatus"
        name:
          type: string
        link:
          type: string
        title:
          type: string
        tags:
          type: array
          items:
            type: string
        description:
          type: string
        visibility:
          $ref: "#/components/schemas/apiv1Visibility"
        viewCount:
          type: integer
          format: int32
        ogMetadata:
          $ref: "#/components/schemas/apiv1OpenGraphMetadata"

    apiv1Visibility:
      type: string
      default: VISIBILITY_UNSPECIFIED
      enum:
        - VISIBILITY_UNSPECIFIED
        - PRIVATE
        - WORKSPACE
        - PUBLIC

    protobufAny:
      type: object
      properties:
        "@type":
          type: string
      additionalProperties:
        type: object
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: "#/components/schemas/protobufAny"

    v1CreateShortcutResponse:
      type: object
      properties:
        shortcut:
          $ref: "#/components/schemas/apiv1Shortcut"

    v1DeleteShortcutResponse:
      type: object

    v1GetShortcutResponse:
      type: object
      properties:
        shortcut:
          $ref: "#/components/schemas/apiv1Shortcut"

    v1ListShortcutsResponse:
      type: object
      properties:
        shortcuts:
          type: array
          items:
            $ref: "#/components/schemas/apiv1Shortcut"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
